bokeh
scipy
pandas
colorama
ffmpeg
pillow
opencv-python
google-api-python-client
google-auth-oauthlib
oauth2client
google-auth
gspread
ipykernel
jupyter
pystackreg
tabulate
tifffile
natsort
scikit-learn
scikit-image
pre-commit

# ================= #
# Version Sensitive #
# ================= #

numpy == 1.24.0
matplotlib == 3.9.0
patito ~= 0.8.3
polars ~= 1.19.
pyarrow == 13.0.0
tqdm == 4.65.1
